body {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100vh;
    background-color: #386641;


    .container {
        background-color: #6a994e;
        width: 55%;
        height: 90vh;
        border-radius: 10px;
        display: grid;
        grid-template-areas: "b-image b-image b-image b-image"
                             "b-image b-image b-image b-image"
                             "b-image b-image b-image b-image"
                             "b-image b-image b-image b-image"
                             "b-image b-image b-image b-image"
                             "s-image1 s-image2 s-image3 s-image4"
                             "s-image1 s-image2 s-image3 s-image4"
                             "s-image5 s-image6 s-image7 s-image8"
                             "s-image5 s-image6 s-image7 s-image8";
        grid-gap: 5px;
                             
        .image-card {
            align-items: center;
            padding: 0;
            overflow: hidden;
            background-color: #a7c957;
            cursor: pointer;
            border-radius: 5px;
            margin: 5px;
            transition: .2s;

            img {
                object-fit: cover;
                width: 100%;
                height: 100%;
            }
        } 

        .image-card:hover {
            transform: scale(1.1);
        } 

        .image-card:hover:nth-child(1) {
            transform: scale(1);
        } 

        #bg-image {
            background-color: #a7c957;
            grid-area: b-image;
        }

        #sm-image1 {
            grid-area: s-image1;
        }
        #sm-image2 {
            grid-area: s-image2;
        }#sm-image3 {
            grid-area: s-image3;
        }
        #sm-image4 {
            grid-area: s-image4;
        }
        #sm-image5 {
            grid-area: s-image5;
        }#sm-image6 {
            grid-area: s-image6;
        }
        #sm-image7 {
            grid-area: s-image7;
        }#sm-image8 {
            grid-area: s-image8;
        }
    }

}