body {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100vh;


    .container {
        background-color: brown;
        width: 55%;
        height: 90vh;
        border-radius: 10px;
        display: grid;
        grid-template-areas: "b-image b-image b-image b-image"
                             "b-image b-image b-image b-image"
                             "b-image b-image b-image b-image"
                             "b-image b-image b-image b-image"
                             "b-image b-image b-image b-image"
                             "s-image1 s-image2 s-image3 s-image4"
                             "s-image1 s-image2 s-image3 s-image4"
                             "s-image5 s-image6 s-image7 s-image8"
                             "s-image5 s-image6 s-image7 s-image8";
        grid-gap: 5px;
                             
        .image-card {
            cursor: pointer;
            border-radius: 5px;
            margin: 5px;
            transition: .2s;
        } 

        .image-card:hover {
            transform: scale(1.1);
        } 

        #bg-image {
            background-color: cadetblue;
            grid-area: b-image;
        }

        #sm-image1 {
            background-color: rgb(119, 218, 6);
            grid-area: s-image1;
        }
        #sm-image2 {
            background-color: rgb(165, 104, 24);
            grid-area: s-image2;
        }#sm-image3 {
            background-color: rgb(33, 44, 46);
            grid-area: s-image3;
        }
        #sm-image4 {
            background-color: rgb(142, 51, 196);
            grid-area: s-image4;
        }
        #sm-image5 {
            background-color: rgb(174, 175, 174);
            grid-area: s-image5;
        }#sm-image6 {
            background-color: rgb(75, 55, 33);
            grid-area: s-image6;
        }
        #sm-image7 {
            background-color: rgb(61, 75, 46);
            grid-area: s-image7;
        }#sm-image8 {
            background-color: rgb(6, 98, 218);
            grid-area: s-image8;
        }
    }

}